name: Lint

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  eslint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.11.1

      - name: Install dependencies (eslint)
        run: npm install

      - name: Run ESLint
        run: npm run lint
